<!DOCTYPE html>
<html>
<head>
  <title>Eric's 495 Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
h1.intro{
	color:darkred;
	text-align:center;
	font-family: Palatino Linotype;
}
p.styling{
	font-size: 170%;
}
</style>
<body style="background-color:lightgrey">
	<h1 class="intro">Eric's 495 Blog</h1>
<%= yield %>
</div>
</body>

</html>
